[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Edgar S. Hurtado
	email = edsanhu@gmail.com
[core]
	editor = mvim -v
[push]
	default = upstream
[merg]
	conflictstyle = diff3
[credential]
	helper = osxkeychain
